@font-face {
  font-family: "GmarketSans";
  src: url("../images/custom/GmarketSansOTF/GmarketSansMedium.otf");
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("../images/custom/GmarketSansOTF/GmarketSansBold.otf");
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("../images/custom/GmarketSansOTF/GmarketSansLight.otf");
}

.hidden-content {
  display: none;
}



#welcome__text {
  width: 392px;
  height: 23px;
  
  background-image: url("../images/custom/text_welcome.png");
}



#loginOptionMicrosoft {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 30vw;
  aspect-ratio: 250 / 45;
  
  background-image: url("../images/custom/btn_ms_login.png");
  background-size: cover;
  cursor: pointer;
}



#landing__up {
  display: inline-block;
  margin: 1.2% 0;
  padding: 0 2%;

  width: 96%;
  height: 46px;

  display: flex;
  justify-content: space-between;
}
#landing__mini-profile {
  position: relative;
  aspect-ratio: 4.167 / 1;
  
  background-image: url("../images/custom/block_left.png");
  background-size: cover;
}
#avatarContainer {
  position: absolute;
  left: 9%;
  top: 10%;

  display: inline-block;
  height: 70%;
  aspect-ratio: 1 / 1;

  filter: drop-shadow(2px 4px 2px #0006);
  background-size: cover;
}
#user_text {
  position: absolute;
  left: 60%;
  top: 35%;
  transform: translateX(-50%);

  font-family: "GmarketSansLight";
  color: #fff;
  font-size: 0.95em;
  font-weight: bold;
}

#landing__nav {
  display: flex;
  align-items: center;

  aspect-ratio: 15.5 / 1;

  background-image: url("../images/custom/block_nav.png");
  background-size: cover;

  opacity: 0.8;
  transition: opacity 0.2s;
}
#landing__nav:hover {
  opacity: 1;
}
#landing__user-count {
  position: relative;
  display: inline-block;

  margin-left: 2.5%;

  height: 57%;
  aspect-ratio: 5 / 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("../images/custom/block_user_count.png");
  background-size: cover;
}
#landing__user-count__number {
  display: block;

  position: absolute;
  top: 55%;
  right: 5%;

  width: 60%;
  float: right;
  transform: translateY(-50%);

  color: #000;
  text-align: right;
  text-align: center;
  font-family: "GmarketSansBold";
  letter-spacing: -1px;
}
#player_count {
  font-size: 0.8em;
}
#landing__nav__main {
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 100%;

  display: flex;
  align-items: center;
}
#landing__nav__main > span {
  margin-right: 4%;
  height: 35%;

  background-repeat: no-repeat;
  background-size: contain;

  transition: filter 0.3s;
  cursor: pointer;
}
#landing__nav__main > span:hover {
  filter: invert(1);
}
#settingsMediaButton {
  aspect-ratio: 53 / 18;
  background-image: url("../images/custom/nav_btn_setting.png");
}
#landing__nav__discord {
  aspect-ratio: 63 / 18;
  background-image: url("../images/custom/nav_btn_discord.png");
}
#landing__nav__minepage {
  aspect-ratio: 81 / 18;
  background-image: url("../images/custom/nav_btn_minepage.png");
}
#landing__nav__minelist {
  aspect-ratio: 60 / 18;
  background-image: url("../images/custom/nav_btn_minelist.png");
}

#landing__welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40%;
  aspect-ratio: 512 / 137;
  background-image: url("../images/custom/text_welcome_big.png");
  background-size: cover;
}

#landing__bottom > div {
  position: absolute;
  left: 2%;
  bottom: 4%;

  display: inline-block;

  width: 96%;
  height: 46px;

  display: flex;
  justify-content: space-between;
}
#landing__bottom > div > span:nth-child(1) {
  aspect-ratio: 960 / 60;
  background-size: cover;
}
#landing__bottom > div > span:nth-child(2) {
  aspect-ratio: 250 / 60;
  background-size: cover;
}
#landing__before__block {
  background-image: url("../images/custom/block_bottom.png");
}
#launch_button {
  background-image: url("../images/custom/btn_launch.png");
  cursor: pointer;
}



#settings__top {
  display: inline-block;
  margin: 1.2% 0;
  padding: 0 2%;

  width: 96%;
  height: 46px;

  display: flex;
  justify-content: space-between;
}
#settingsNavDone {
  aspect-ratio: 250 / 60;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url("../images/custom/block_left.png");
  background-size: cover;

  cursor: pointer;
}
#settingsNavDone__text {
  width: 40%;
  aspect-ratio: 90 / 22;

  background-image: url("../images/custom/setting_back.png");
  background-size: cover;
}
#setting__nav {
  display: flex;
  align-items: center;

  aspect-ratio: 15.5 / 1;

  background-image: url("../images/custom/block_nav.png");
  background-size: cover;

  opacity: 0.8;
  transition: opacity 0.2s;
}
#setting__nav:hover {
  opacity: 1;
}
#setting__nav > span {
  margin: 0 4%;
  height: 35%;

  background-repeat: no-repeat;
  background-size: contain;

  transition: filter 0.3s;
  cursor: pointer;
}
#setting__nav > span:hover {
  filter: invert(1);
}
#settingsNavAccount {
  aspect-ratio: 35 / 19;

  background-image: url("../images/custom/setting_account.png");
  background-size: cover;
}
#settingsNavMinecraft {
  aspect-ratio: 110 / 19;
  
  background-image: url("../images/custom/setting_minecraft.png");
  background-size: cover;
}
#settingsNavMods {
  aspect-ratio: 37 / 19;

  background-image: url("../images/custom/setting_mods.png");
  background-size: cover;
}
#settingsNavJava {
  aspect-ratio: 37 / 19;

  background-image: url("../images/custom/setting_java.png");
  background-size: cover;
}
#settingsNavLauncher {
  aspect-ratio: 35 / 19;

  background-image: url("../images/custom/setting_launcher.png");
  background-size: cover;
}
